<!--
* @Description: 招聘通-宣讲会-宣讲会流程
* @Version: 1.0.0
* @Author: shihui(2622119132@qq.com)
* @Date: 2017.05.13
* ==NOTES:=============================================
* v1.0.0(2017.05.13):
初始生成
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>求职通</title>
    <{include file="../common/link.html" }>
    <{include file="../common/script.html" }>
    <link rel="stylesheet" type="text/css" href="<{$staticWebsite}>recruitment_resources/css/page/preach/preach-process.css"><!-- * -->
</head>
<body>
<div class="page">
    <{include file="../common/header.html" }>
    <div class="content clearfix">
        <div class="sidebar">
            <h2><i class="fa fa-users list-img"></i>宣讲会</h2>
            <ul class="tab_menu">
                <li ><a href="/recruitEntrance/talk/talk/list">宣讲会管理</a></li>
                <li class="active"><a href="/recruitEntrance/talk/talk/toFlow">流程介绍</a></li>
            </ul>
        </div>
        <div class="main">
            <h1>宣讲会流程介绍</h1>
            <p>
                这里可以写一些注意事项，流程介绍等等。这里可以写一些注意事项，流程介绍等等。这里可以写一些注意事项，流程介绍等等。这里可以写一些注意事项，流程介绍等等。这里可以写一些注意事项，流程介绍等等。这里可以写一些注意事项，流程介绍等等。这里可以写一些注意事项，流程介绍等等。这里可以写一些注意事项，流程介绍等等。这里可以写一些注意事项，流程介绍等等。这里可以写一些注意事项，流程介绍等等。这里可以写一些注意事项，流程介绍等等。这里可以写一些注意事项，流程介绍等等。这里可以写一些注意事项，流程介绍等等。
            </p>
            <div class="preach-map">
                <img src="<{$staticWebsite}>recruitment_resources/img/preach/preach-process.png"><!-- * -->
            </div>
        </div>
    </div>
    <{include file="../common/footer.html" }>
</div>
</body>
</html>