<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>添加手机号</title>
    <{include file="../../common/link.html"}>
    <{include file="../../common/script.html"}>
    <link rel="stylesheet" type="text/css" href="<{$staticWebsite}>resources/css/page/job_apply/phone.css">
    <link rel="stylesheet" type="text/css" href="<{$staticWebsite}>resources/css/page/job_apply/jobapply-header.css">
</head>
<body>
<{include file="../../common/header.html"}>
<{include file="../job_apply/jobapply-header.html"}>
	<div class="content">
		<h1>
			<span>添加手机号</span>
			<a href="<{$website}>job/job">返回求职通首页</a>
		</h1>
		<p style="margin-top: 20px;">绑定手机号后，就业中心短信平台每日上午8:30向该手机号推送当天宣讲会信息，找到工作后可以随时解绑。</p>
		<form class="phone-form" action="<{$website}>job/study/addPhone" method="post">
				<div>
					<span>手机号码：</span>
					<input type="text" placeholder="请输入真实号码" data-valid-rule="isMobile" name="cellphone">
				</div>
				<input type="submit" value="确定" class="submit-phone">
				<button type="reset" class="reset-phone">重置</button>
		</form>
	</div>
<{include file="../../common/footer.html"}>
	<script type="text/javascript">
		KISSY.use('page/job_apply/phone',function(S){
			S.ready(function(){
				PW.page.job_apply.phone();
			})
		})
	</script>
</body>
</html>