/*---------------------------------------------------------------------------------------------
@Filename: remote-interview.css
@Description: 全局css定义
@Version: 1.0.0(2015-5-25)YYYY-MM-DD
@author: bai xuexue
==STRUCTURE:========================================= 
$__header 
$__menu
==NOTES:=============================================
2015-6-8:
初始生成。
--------------------------------------------------------------------------------------------*/
.page{
	width: 1190px;
	margin: 40px auto;
	background: #fbfbfb;
    border: 1px solid #ededed;
}
.page h1{
	position: relative;
	height: 35px;
	line-height: 35px;
	margin: 30px 50px;
	font-size: 16px;
	border-bottom: 1px solid #d9d9d9;
}
.page h1 span {
	display: inline-block;
	border-left: 5px solid #18366c;
	padding-left: 10px;
	height: 22px;
	line-height: 22px;
	font-size: 20px;
	font-weight: bold;
}
.job{
	overflow: hidden;
	width: 1030px;
	height: 110px;
	border-bottom: 1px solid #e8e8e8;
	margin-left:85px;
}
.job span{
	display: inline-block;
	margin: 22px 25px 0px 0px;
}
.name{
	font-size: 14px;
	color: #fb8302;
}
.time{
	color: #bbbaba;
}
.information{
	color: #3f3f3f;
}
.view{
	float: right;
	width: 60px;
	background: url(../../../img/company/view.gif) repeat-x;
	margin-top: -40px;
	border-radius: 3px;/*IE8不支持*/
	font-size: 17px;
	color: #fff;
	text-align: center;
	cursor: pointer;
}