<!DOCTYPE html>
<html>
<head>
    <title>增加公告类型</title>
    <meta charset="utf-8">
    <{include file = "admin/common/link.html"}>
    <{include file = "admin/common/script.html"}>
    <link rel="stylesheet" type="text/css" href="<{$staticWebsite}>resources/css/page/company.css">
</head>

<body>
<{include file= "admin/common/header.html"}>
<div class="container">
    <{include file="admin/common/sidebar.html"}>
    <div class="content" >
        <{include file="admin/common/crumbs.html"}>
        <div class="block">
            <div class="block-header">
                <h3></h3>
            </div>
            <div class="block-content clearfix">
                <form class="login-from" action="<{$website}>admin/announcement/announcement/addType" method="post">
                    <table>
                        <tr><td>增加公告类型</td></tr>
                        <tr><td><input type="text" name="name"/></td></tr>
                        <tr><td><input type="submit" class="btn" value="提交"/></td></tr>
                    </table>
                </form>
            </div>
        </div>
    </div>
</div>
</body>
</html>
