<!DOCTYPE html>
<html>
<head>
    <title>公告类型删除</title>
    <meta charset="utf-8">
    <{include file = "../common/link.html"}>
    <{include file = "../common/script.html"}>
    <link rel="stylesheet" type="text/css" href="<{$staticWebsite}>resources/css/page/company.css">

    <!--<script type="text/javascript" src="<{$ueditorWebsite}>resources/js/site-config2.js"></script>-->
    <!--<script type="text/javascript" src="<{$ueditorWebsite}>/resources/puiresources/js/base/lib/kissy/seed.js"></script>-->

</head>

<body>
<{include file= "admin/common/header.html"}>
<div class="container">
    <{include file="admin/common/sidebar.html"}>
    <div class="content" >
        <{include file="admin/common/crumbs.html"}>
        <div class="block">
            <div class="block-header">
                <h3></h3>
            </div>
            <div class="block-content clearfix">
                <div class="title">
                    <div class="title1">公告类型</div>
                </div>
                <table>
                    <tr>
                        <td><{$announcementType.id}></td>
                        <td><{$announcementType.name}></td>
                        <td>
                            <a class="btn" href="<{$website}>admin/announcement/announcement/deleteType/id/<{$announcementType.id}>">删除</a>
                            <a class="btn" href="<{$website}>admin/announcement/announcement/listType">取消</a>

                        </td>
                    </tr>
                    <thead>
                    <tr>
                        <th>公告类型ID</th>
                        <th>公告类型名称</th>
                        <th>操作</th>
                    </tr>
                    </thead>

                    <tbody id="J_template">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>
