<!DOCTYPE HTML>
<html>
<head>
    <title>东北高师就业联盟网后台--登录</title>
    <meta http-equiv="content-type" content="text/html" charset="UTF-8"/>
    <meta http-equiv="keywords" conten="keyword,keyword"/>
    <{include file="../common/link.html"}>
    <{include file="../common/script.html"}>
    <link rel="stylesheet" type="text/css" href="<{$staticWebsite}>resources/admin/css/page/login.css"/>
</head>
<body>
    <form action="#" method="post">
		<div class="login-header"><h3>东北高师就业联盟网后台登录</h3></div>
		<div class="login-content">
			<div class="login-content-inputButton">
				<label>用户名</label>
				<input type="text" name="username" name="" class="login-content-input" />
			</div>
			<div class="login-content-inputButton">
				<label>密　码</label>
				<input type="password" name="pw" class="login-content-input">
			</div>
			<span class="error-tip">*用户名或密码错误</span>
			<div class="login-content-inputButton button">
				<input type="submit" value="登录" class="btn first">
				<input type="reset" value="取消"  class="btn">
			</div>		
		</div>
	</form>
</body>
</html>