<!DOCTYPE html PUBLIC '-//W3C//DTD XHTML 1.0 Transitional//EN' 'http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd'>
<html xmlns='http://www.w3.org/1999/xhtml'>
<head lang="en">
    <meta http-equiv='Content-Type' content='text/html; charset=utf-8' />
    <title>东北师范大学就业联盟</title>
    <{include file="../common/link.html"}>
    <{include file="../common/script.html"}>
    <script type="text/javascript" src="<{$staticWebsite}>recruitment_resources/js/page/common/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="<{$ueditorWebsite}>SWFUpload/swfupload.js"></script>
    <script type="text/javascript" src="<{$ueditorWebsite}>SWFUpload/plugins/swfupload.queue.js"></script>
    <script type="text/javascript" src="<{$ueditorWebsite}>SWFUpload/plugins/handler.js"></script>
    <script type="text/javascript" src="<{$ueditorWebsite}>/ueditor1_3_6-utf8-php/ueditor.config.js"></script>
    <script type="text/javascript" src="<{$ueditorWebsite}>/ueditor1_3_6-utf8-php/ueditor.all.js"></script>
    <script type="text/javascript" src="<{$ueditorWebsite}>/ueditor1_3_6-utf8-php/lang/zh-cn/zh-cn.js"></script>
    <link rel="stylesheet" type="text/css" href="<{$ueditorWebsite}>/ueditor1_3_6-utf8-php/themes/default/css/ueditor.css" />
    <link rel="stylesheet" type="text/css" href="<{$ueditorWebsite}>/resources/resources/admin/css/page/company/add.css" />
</head>
<body>
<div>
    <{include file="../common/header.html"}>
    <div class="continer">
        <{include file="../common/sidebar.html"}>
        <div class="content">
            <{include file="../common/crumbs.html"}>
            <form class="block J_searchForm J_companyForm" action="<{$website}>admin/company/company/add" method="post" enctype="multipart/form-data" name="form1" id="form1" >
                <!--<input id="vid" name="vid" type="hidden"/>-->
                <div class="block-header">
                    <h3>新建</h3>
                </div>
                <div class="block-content clearfix">
                    <div class="control-area control-area-short">
                        <label>单位名称</label>
                        <input type="text" name="name" class="textTheme" data-valid-rule="notNull"/>
                    </div>
                    <div class="control-area control-area-short">
                        <label>所属行业</label>
                        <select class="textTheme" name = "tradeId" data-valid-rule="scale(0,1000,0)">
                            <option value="0">请选择所属行业</option>
                            <{foreach from=$tradeList item=trade}>
                            <option value="<{$trade.id}>"><{$trade.name}></option>
                            <{/foreach}>
                        </select>
                    </div>
                    <div class="control-area control-area-short">
                        <label>18位统一社会信用代码</label>
                        <input type="text" name="" class="textTheme" data-valid-rule="notNull"/>
                    </div>
                    <div class="control-area control-area-long" name = "cityId">
                        <label>所属城市</label>
                        <div class="addel">
                            <div class="J_addapp">
                                <select class="textTheme" id="J_proviceList" style="width:6%" data-valid-rule="scale(0,1000,0)">
                                    <option value="0">请选择</option>
                                    <{foreach from=$provinceList item=p}>
                                    <option value="<{$p.id}>"><{$p.name}></option>
                                    <{/foreach}>
                                </select>
                                <span>省</span>
                                <select class="textTheme" name = "cityId[]" id="J_cityList" data-valid-rule="scale(0,1000,0)">
                                    <option value="0">请选择</option>
                                </select>
                                <span>市</span>
                            </div>
                        <!--     <input type="button" value="添加城市" class="btn J_add" onclick="add()" style="margin-left:21%;">
                            <input type="button" value="删除城市" class="btn J_del" style="display:none;" onclick="del()"> -->
                        </div>
                    </div>
                    <div class="control-area control-area-long">
                        <label>详细地址</label>
                        <input type="text" name = "fullAddress" class="textTheme"/>
                    </div>
                    <div class="control-area control-area-short">
                        <label>单位电话</label>
                        <!-- <input type="text" name="phone" class="textTheme" /> -->
                        <input type="text" class="textTheme focus-field" data-valid-rule="isTelephone|isMobile|isNull" maxlength="50" placeholder="例(0431-xxxxxxxx)" name="phone" data-valid-id="41">
                    </div>
                    <div class="control-area control-area-short">
                        <label>单位类型</label>
                        <div class="checkbox checkbox-long">
                            <input type="radio" class="textTheme" name="typeId" value="1" checked="true"/>
                            教育行业
                        </div>
                        <div class="checkbox checkbox-long">
                            <input type="radio" name="typeId" value="2" class="textTheme">
                            非教育行业
                        </div>
                    </div>
                    <div class="control-area control-area-short">
                        <label>单位性质</label>
                        <select class="textTheme" name = "propertyId" data-valid-rule="scale(0,1000,0)">
                            <option value="0">请选择单位性质</option>
                            <{foreach from=$propertyList item=property}>
                            <option value="<{$property.id}>"><{$property.name}></option>
                            <{/foreach}>
                        </select>
                    </div>
                    <div class="control-area control-area-short">
                        <label>邮政编码</label>
                        <input type="text" name="postalCode" class="textTheme" />
                    </div>
                    <div class="control-area control-area-short">
                        <label>电子邮箱</label>
                        <input type="text" name="email" class="textTheme"/>
                    </div>
                    <div class="control-area control-area-short">
                        <label>是否参加大招会</label>
                        <div class="checkbox checkbox-long">
                            <input type="radio" name="isJoinBigRecruitment" value="1"/>
                            是
                        </div>
                        <div class="checkbox checkbox-long">
                            <input type="radio" name="isJoinBigRecruitment" value="0" checked="true"/>
                            否
                        </div>
                    </div>
                    <div class="control-area control-area-short">
                        <label>是否参加网上招聘周</label>
                        <div class="checkbox checkbox-long">
                            <input type="radio" name="isJoinRecruitmentWeek" value="1"/>
                            是
                        </div>
                        <div class="checkbox checkbox-long">
                            <input type="radio" name="isJoinRecruitmentWeek" value="0" checked="true"/>
                            否
                        </div>
                    </div>
                    <div class="control-area control-area-short">
                        <label>网站地址</label>
                        <input type="text" name="website" class="textTheme"/>
                    </div>
                    <div class="control-area control-area-short">
                        <label>组织机构代码编号</label>
                        <input type="text" name="organization_code" data-valid-rule="notNull" class="textTheme"/>
                    </div>
                    <div class="control-area control-area-long">
                        <label>单位介绍</label>
                        <script id="container" name="introduction" type="text/plain"></script>
                    </div>
                    <div class="control-area control-area-short">
                        <label>是否名校名企</label>
                        <select class="textTheme" name = "isFamous" class="textTheme" id="J_famous">
                            <option value="0">都不是</option>
                            <option value="1">是名校</option>
                            <option value="2">是名企</option>
                        </select>
                    </div>
                    <div class="control-area control-area-short">
                        <label>上传logo</label>
                            <img id="logo" src="../../../assets/uploadFile/recruitEntrance/company-logo/<{$logo}>" alt="请选择上传的图片">
                            <input type="file" id="logo-choose" accept="image/gif, image/jpeg,image/png,/image/JPG,/image/PNG" name="logo" value="请选择文件...">
                    </div>
                    <div class="control-area control-area-short" >
                        <label>企业视频</label>
                            <span>暂无法预览，上传后可预览</span>
                            <input type="file" name="video_url" id="video-choose">
                    </div>
                    <!-- <div class="control-area control-area-short">
                        <label>视频链接</label>
                        <input type="text" name="vid" class="textTheme"/>
                    </div> -->
                    <div class="control-area control-area-long">
                        <label class="label-attr label-align">企业认证资料</label>
                        <div class="paragraph">
                            <p>1、每张最大支持2M</p>
                            <p>2、营业执照证，必填：三证合一，请在此上传，如果是老证，请上传组织机构代码证</p>
                            <p>3、请务必上传带彩色公章的企业资料（扫描彩色件或原件）图片</p>
                            <div class="img-box">
                                <ul class="clearfix" id="upload-box">
                                        
                                </ul>
                                <div class="operate">
                                    <input type="file" class="file-pick" id="img-choose" name="zhizhaoUrl[]" value="请选择文件..." data-num="0">
                                    <a href="javascript:;" class="upload">继续选择</a>
                                </div>
                            </div>
                            <p class="tip none">没有上传照片,请上传</p>
                        </div>
                    </div>
                    <div class="control-area control-area-long">
                        <label>亮点</label>
                        <div class="info-list">
                            <label class="laber-attr">亮点</label>
                            <input type="text" name="bright" class="high-lights textTheme" placeholder="多个关键词用“,”分隔">
                        </div>
                    </div>

                </div>
                <div class="btn-center" style="margin-bottom:20px;">
                    <input type="submit" name="button" id="button" class="btn" value="提交"/>
                </div>
            </form>
            <script type="text/javascript">
                var editor = UE.getEditor('container')
            </script>
        </div>
    </div>
</div>
<script type="text/javascript" src="<{$staticWebsite}>js/fixdiv.js"></script>
<script type="text/javascript" src="<{$staticWebsite}>js/address.js"></script>
<script type="text/javascript">
    KISSY.use('page/employment/add-student',function(S){
        S.ready(function(){
            PW.page.addStudent();
        });
    });
</script>

<script type="text/javascript">
    //添加删除省市
    function add(){
        $(".J_add").prev().clone().appendTo('.addel');
        $(".J_del").css("display","inline-block");
    }
    function del(){
        // console.log($(".J_del").parent().children().length);
        var a = $(".J_del").parent().children();
        if(a.length < 5){
            $(".J_del").css("display","none");
            $(".J_del").parent().children()[a.length-1].remove();
        }else{
            $(".J_del").parent().children()[a.length-1].remove();
        }
    }

    // var swfUploader;// 定义上传对象
    // $(function () {
    //     var settings = {
    //         flash_url: "<{$ueditorWebsite}>SWFUpload/Flash/swfupload.swf",
    //         upload_url: "http://v.polyv.net/uc/services/rest?method=uploadfile",
    //         post_params: {
    //             'writetoken' : 'bIvs0HNKLtykCAf-IjGcbjdqvfqG68ro',
    //             'JSONRPC'     : '{"Filedata.filename": "这里是标题", "tag": "标签", "description": "视频文档描述"}'
    //         },
    //         file_size_limit: "5000 MB",
    //         file_types: "*.mp4;*.avi",// 限制上传文件
    //         file_types_description: "video Files",
    //         file_upload_limit: 0,
    //         file_queue_limit: 0,
    //         debug: false,
    //         urlstream_upload: true,
    //         // Button settings
    //         button_image_url: "<{$ueditorWebsite}>SWFUpload/Images/TestImageNoText_65x80.png",
    //         button_width: "100",
    //         button_height: "29",
    //         button_placeholder_id: "spanButtonPlaceHolder",
    //         button_text: '<div class="control-area control-area-short"><span class="theFont">上传video</span></div>',
    //         button_text_style: ".theFont { font-size: 16; }",
    //         button_text_left_padding: 12,
    //         button_text_top_padding: 3,

    //         custom_settings : {
    //             progressTarget : "fsUploadProgress",
    //             cancelButtonId : "btnCancel"
    //         },


    //         // The event handler functions are defined in handlers.js 这些方法都定义在hander.js 中
    //         file_queue_error_handler: fileQueueError,
    //         file_dialog_complete_handler: fileDialogComplete,
    //         upload_progress_handler: uploadProgress,
    //         upload_error_handler : function(){alert('上传出错了')},
    //         upload_success_handler : function(file,serverData){
    //             var data = eval("(" + serverData + ")");
    //             data=data.data[0];
    //             var input_swf_link=document.getElementById('vid');
    //             input_swf_link.value=data.vid;
    //             //document.getElementById("form1").submit();

    //         },
    //         upload_complete_handler : uploadComplete
    //         // Queue plugin event
    //     }
    //     swfUploader= new SWFUpload(settings);
    // });

    //上传文件
    _upload();
    function _upload() {
        //变量声明
        var el = {
            // 企业认证资料 上传图片   
            J_img_box: '.img-box', // 照片盒子
            J_upload_box: '#upload-box', // 预览照片的容器
            J_choose: '.file-pick', // 选择按钮
            J_upload: '.upload', // 上传按钮
            J_delete: '.img-delete', // 删除按钮
            J_uncommitted: '.uncommitted', // 未提交的图片
            J_select_img: '.select-img', // 选择的图片
            J_editor: '#editor', // 富文本编辑企业介绍
            J_close: '.close-img', // 查看大图的隐藏
            J_pop: '.pop', // 弹出层
        }
        $('#logo-choose').change(function(){
            var file = this.files[0];  
            if(window.FileReader) {  
                var fr = new FileReader();  
                fr.onloadend = function(e) {  
                    document.getElementById("logo").src = e.target.result;
                };  
                fr.readAsDataURL(file);  
            }
            var logo = document.getElementById("logo");
            logo.style.cssText = `
                width: 200px;
                height: 200px;
            `
        });
        // 上传视频
        $('#video-choose').change(function() {
            var reg = /\w+(.flv|.rvmb|.mp4|.avi|.wmv)$/
            var video = $('#video-choose');
            var file = this.files[0];
            if (!reg.test(video.val())) {
                alert('视频类型必须是mp4,avi,wmv,rvmb,flv的一种');
                return false;
            }
            var videoView = document.getElementById("video-view");
            videoView.style.cssText = `
                width: 200px;
                height: 200px;
            `
        });
        
        // 上传认证图片（多图）
        var id = 0; // 照片盒子的id
        var times = 0; // 上传次数
        var box = document.getElementById('upload-box'); // 获取容器盒子
        $(el.J_upload).addClass('none'); // 默认隐藏继续上传

        // 获取文件file
        function getObjectURL(file) {
            var url = null ;
            if (window.createObjectURL!=undefined) { // basic
                url = window.createObjectURL(file) ;
            } else if (window.URL!=undefined) { // mozilla(firefox)
                url = window.URL.createObjectURL(file) ;
            } else if (window.webkitURL!=undefined) { // webkit or chrome
                url = window.webkitURL.createObjectURL(file) ;
            }
            return url ;
        }

        // 预览功能
        $(el.J_img_box).on('change', el.J_choose, function(event) {
            event.preventDefault();
            // 获取一个file的input的files对象
            var file = document.getElementsByName("zhizhaoUrl[]")[0].files;
            // 判断是否上传的是图片
            var reg = /(\.*.jpg$)|(\.*.png$)|(\.*.jpeg$)|(\.*.gif$)|(\.*.bmp$)/;      
            if(!reg.test(this.value)) { 
                alert("系统仅支持jpg/jpeg/png/gif/bmp格式的照片！");  
                this.focus(); 
            }else{
                // 实现多张上传预览
                for(var i=0;i<file.length;i++){ 
                    var imgObjPreview = document.getElementById("img"+i);
                    box.innerHTML += "<li class='uncommitted' id='" + id + "'><img class='select-img' id='img" + id + '-' + i + "' data-num='"+ id + "'/><span>认证资料</span><a href='javascript:;' class='img-delete'>删除</a></li>";
                    $('#img'+id + '-'+i).attr('src', getObjectURL(this.files[i])); // 或 this.files[0] this->input
                }
            }
            $('.operate .file-pick').eq(0).hide();
            $(el.J_upload).removeClass('none');
        });

        // 继续选择
        $(el.J_upload).click(function() {
            id += 1;
            $('.operate').prepend('<input type="file" class="file-pick" name="zhizhaoUrl[]" value="请选择文件..." data-num="'+ id +'">');
        });

        $(el.J_upload_box).off("mouseenter","li").on('mouseenter', 'li', function(ev) {
            var deleteBtn = $(this).children('a');
            var deleteNum = $('.uncommitted').index($(this)); //未提交照片的索引
            deleteBtn.off('click'); // 事件解绑
            deleteBtn.on('click',function(ev) {
                deleteBtn.parent().remove();// 删除预览图片
                var dataNum = deleteBtn.prev().prev().attr('data-num');
                $('.operate input[data-num="' + dataNum +'"]').remove();
            });
            // 查看大图
            var popPic = $(this).children('img');
            popPic.off('click');
            popPic.on('click',function(ev) {
                $(el.J_pop).removeClass('none');
                var imgSrc = $(this).attr('src'); 
                $(el.J_pop).children('img').attr('src',imgSrc);
            })
        });
        // 隐藏
        $(el.J_close).click(function(ev) {
            $(this).parent().addClass('none');
        });
    }
</script>
</body>
</html>