<!DOCTYPE html>
<html>
<head>
    <meta charset = "utf-8"/>
    <title>东北师范大学就业联盟网</title>
    <{include file="../common/link.html"}>
    <{include file="../common/script.html"}>
    <link rel="stylesheet" type="text/css" href="<{$staticWebsite}>resources/admin/css/page/company.css">
    <script type="text/javascript" src="<{$ueditorWebsite}>/resources/puiresources/js/base/lib/kissy/seed.js"></script>
</head>
<body>
<{include file="../common/header.html"}>
<div class="continer">
    <{include file="../common/sidebar.html"}>
    <div class="content">
        <{include file="../common/crumbs.html"}>
        <form class="block J_searchForm" action="<{$website}>admin/company/company/search" method="post">
            <div class="block-header">
                <h3>查询</h3>
            </div>
            <div class="block-content clearfix">
                <div class="control-area control-area-short">
                    <label>关键字</label>
                    <input type="text" class="textTheme" maxlength="50" name="keyword" />
                </div>
                <div class="control-area control-area-short">
                    <label>单位性质</label>
                    <select class="textTheme" autocomplete="off" name="propertyId">
                        <option value="0">选择</option>
                        <{foreach from=$propertyList item=property}>
                        <option value="<{$property.id}>"><{$property.name}></option>
                        <{/foreach}>
                    </select>
                </div>
                <!--<div class="control-area control-area-short">
                    <label>城市</label>
                    <select class="textTheme" autocomplete="off" name="cityId">
                        <option value="0">选择</option>
                        <{foreach from=$cityList item=city}>
                        <option value="<{$city.id}>"><{$city.name}></option>
                        <{/foreach}>
                    </select>
                </div>-->
                <div class="control-area control-area-short">
                    <label>所属行业</label>
                    <select class="textTheme" autocomplete="off" name="tradeId">
                        <option value="0">选择</option>
                        <{foreach from=$tradeList item=trade}>
                        <option value="<{$trade.id}>"><{$trade.name}></option>
                        <{/foreach}>
                    </select>
                </div>
                <div class="control-area control-area-short">
                    <label>参加大招会</label>
                    <div class="checkbox checkbox-long">
                        <input type="radio" name="isJoinBigRecruitment" value="1">
                        是
                        <input type="radio" name="isJoinBigRecruitment" value="0">
                        否
                    </div>
                </div>
                <div class="control-area control-area-short">
                    <label>参加招聘周</label>
                    <div class="checkbox checkbox-long">
                        <input type="radio" name="isJoinRecruitmentWeek" value="1">
                        是
                        <input type="radio" name="isJoinRecruitmentWeek" value="0">
                        否
                    </div>
                </div>
                <div class="control-area control-area-long">
                    <div class="checkbox checkbox-long">
                        <input type="checkbox" name="isEliteSchool" value="1">名校
                        <input type="checkbox" name="isEliteFirm" value="1">名企
                    </div>
                </div>
                <div class="btn-right">
                    <input type="submit" class="btn"/>
                </div>
            </div>
        </form>
        <div class="block">
            <div class="block-header">
                <h3>单位列表</h3>
            </div>
            <div class="block-content clearfix">
                <script id="tpl" type="text/template">
                    {@each list as d}
                    <tr>
                        <td>&{d.name}</td>
                        <td>
                            <a class="check" href="<{$website}>admin/company/company/detail/id/&{d.id}" title="查看" target="_blank"><i></i></a>
                            <a class="mod" href="<{$website}>admin/company/company/toEdit/id/&{d.id}" title="编辑" target="_blank"><i></i></a>
                            <a href="<{$website}>admin/company/company/del/id/&{d.id}" class="del"><i></i></a>
                            <a class="btn" href="<{$website}>admin/position/position/listByCompany/id/&{d.id}" target="_blank">职位</a>
                            <a class="btn" href="<{$website}>admin/careerTalk/careerTalk/listByCompany/id/&{d.id}" target="_blank">宣讲会</a>
                            <a class="btn" href="<{$website}>admin/company/remoteInterview/listByCompany/id/&{d.id}" target="_blank">远程面试</a>
                        </td>
                        <td>&{d.lastUpdate}</td>
                    </tr>
                    {@/each}
                </script>
                <table>
                    <thead>
                    <tr>
                        <th>单位名称</th>
                        <th>详情</th>
                        <th>最近更新者</th>
                    </tr>
                    </thead>
                    <tbody id="J_template"></tbody>
                </table>
                <!--<div class="del-opr clearfix">
                    <div class="select-all">
                        <input type="checkbox" id="J_selectAll">
                        <label>全选</label>
                    </div>
                    <a class="del J_delBatch" href="javaScript:;" title="删除">删除</a>
                </div>-->
                <div id="J_pagination"></div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    KISSY.use('mod/pagination,mod/moment', function(S) {
        S.ready(function(){
            PW.pagination({
                renderTo: '#J_pagination',//分页显示指向
                juicerRender: 'tpl',//模版渲染指向
                dataRender: '#J_template',
                pageSize: 10,//每页显示的记录数
                dataCount: '<{$recordCount}>',//总记录数
                //themePackageURL: PW.libUrl+'js/base/plugins/pagination/theme/theme.json',
                //themeName: 'a',//主题名称,有default,a,b,c,d,e这几种，默认是default
                url:'<{$website}>admin/company/company/searchJson',//必选，必须指定ajax的url
                type: 'get',//可选，默认情况下是get
                extraParam:  {'keyword':'<{$keyword}>','propertyId':'<{$propertyId}>','tradeId':'<{$tradeId}>','isEliteSchool':'<{$isEliteSchool}>','isEliteFirm':'<{$isEliteFirm}>','isJoinBigRecruitment':'<{$isJoinBigRecruitment}>','isJoinRecruitmentWeek':'<{$isJoinRecruitmentWeek}>'},//获取分页数据列表的额外条件
                sendData: function(me,b){}, //回调函数 me指向当前的分页对象，b指向分页获取的json数据
                configUrl:function(url,page,me,prevdata){
                    //url:配置的url,page1:当前的页面,me:指向当前分页,prevdata:上一次的分页数据
                    var url = url+'/page/'+page;
                    return url;
                },
                //初始化完成之后的回调函数
                initCompleted:function(me){
                    S.log('初始化完成！');
                },
                //发送ajax之前
                beforeSendAJAX:function(me){
                    S.log('发送ajax之前！');
                },
                //ajax发送失败后的回调函数
                errorFun:function(me){
                    S.log('ajax发送失败！');
                },
                beforeDataLoad:function(me,data){
                    var lt = data.list;
                    S.each(lt,function(item){
                        item.time = parseInt(item.time);
                        item.time = PW.moment(item.time).format('YYYY-MM-DD');
                        S.log(item.time);
                    });
                }
            });
        });
    });
</script>
</body>
</html>