/*---------------------------------------------------------------------------------------------
@Description: 招聘通-尾部-公共 CSS定义
@Version: 1.0.0(2017-05)
@author: shihui
* ==NOTES:=============================================
* v1.0.0(2017.05.13):
初始生成
--------------------------------------------------------------------------------------------*/
/********************* 招聘通-尾部-公共 Start ****************************/
.recruitment-footer {
	margin-top:20px;
	margin-bottom: 20px;
	width:50%;
	margin: 50px auto;
}
.recruitment-copyright {
	text-align: center;
}
.recruitment-copyright span {
	display: inline-block;
	margin-left:5%;
	font-size:13px;
	font-weight: 600;
}
/********************* 招聘通-尾部-公共 End ****************************/