<html><head>
    <title>东北高师就业联盟网登录</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <meta charset="UTF-8" content="text/html" http-equiv="content-type">
    <meta conten="keyword,keyword" http-equiv="keywords">


    <link href="<{$staticWebsite}>resources/css/common/common.css" type="text/css" rel="stylesheet">
    <link href="<{$staticWebsite}>resources/css/base/reset.css" type="text/css" rel="stylesheet">


    <script type="text/javascript" src="<{$ueditorWebsite}>/resources/js/site-config.js"></script>
    <script type="text/javascript" src="<{$ueditorWebsite}>/resources/puiresources/js/base/lib/kissy/seed.js"></script>

    <link href="<{$staticWebsite}>resources/css/page/index/login.css" type="text/css" rel="stylesheet">
</head>
<body>
<form method="post" action="<{$website}>admin/login/login/login">
    <div class="login-header"><h3>联盟网后台登录</h3></div>
    <div class="login-content">
        <div class="login-content-inputButton">
            <label>用户名</label>
            <input type="text" class="login-content-input" name="username">
        </div>
        <div class="login-content-inputButton">
            <label>密&#12288;码</label>
            <input type="password" class="login-content-input" name="password">
        </div>
        <span class="error-tip"></span>
        <div class="login-content-inputButton button">
            <input type="submit" class="btn" value="登录">
            <input type="reset" class="btn" value="取消">
        </div>
    </div>
</form>

</body></html>