/*==================================================
* @Description: 公司信息-单位成员
* @Version: 1.0.0
* @Author: wuxiaoyang(15290491277@163.com)
* @Date: 2017.7.21
* ==NOTES:==========================================
* v1.0.0(2017.7.21):
初始生成
* ==================================================*/
.main{
	padding: 20px 15px;
}
div.search{
	position:relative;
	width:200px;
}
table{
	width: 100%;
	margin: 20px auto;
	font-size: 18px;
}
table tr td{
	height: 46px;
	line-height: 46px;
	text-align: center;
	border-bottom: 1px solid #a1a1a1;
}
table tr td.operation{
	width: 245px;
	color: #2279a7;
}
table tr td.operation a{
	color: #2279a7;
	text-decoration: none;
}
thead tr{
	background-color: #add9f0;
}
.new-linkman{
	float: right;
	width:193px;
	height:38px;
	line-height:38px;
	font-size:18px;
	color:#fff;
	background-color:#2baf2b;
	text-align:center;
	border:1px solid #a0a0a0;
	border-radius:5px;
}
.search{
	width:182px;
	height:38px;
	line-height:38px;
	font-size:18px;
	border:1px solid #a0a0a0;
	border-radius:5px;
	padding-left:10px;
}
.search-form{
	position: relative;
	display: inline-block;
	width: 200px;
}
.search-btn{
	position: absolute;
	top: 7px;
	right: 14px;
	cursor: pointer;
}
.category-selection{
	margin-bottom: 20px;
	font-size: 18px;
}
.category-selection select{
	margin-left: 30px;
    border-radius: 10px;
    border: 1px solid #a0a0a0;
    background-color:#fcfafa ;
    width: 200px;
    height: 34px;
    line-height: 34px;
    text-indent: 10px;
    vertical-align: center;
    padding: 5px;
    color: #656565;
    font-size: 18px;
}
.table-title{
	margin: 20px 0;
	font-size: 18px;
}
.none{
	display: none;
}
.pop{
	z-index: 99;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 2000px;
    background-color: #000;
    background:rgba(0,0,0,.5);
	font-size: 18px;
}
.pop form{
	width: 700px;
	margin: 200px auto;
	padding-bottom: 30px;
	background-color: #fff;
}
.pop h1{
	height: 44px;
	background-color: #9CCC65;
	text-align: center;
	line-height: 44px;
	color: #fff;	
}
.pop label{
	display: inline-block;
	width: 200px;
	text-align: center;
}
.pop span{
	display: block;
	margin-top: 20px;
	padding: 0 20px;
}
.pop img{
	width: 197px;
	height: 31px;
	vertical-align: bottom;
}
.get-code{
	display: inline-block;
	width: 197px;
	height: 31px;
	background-color: #2baf2b;
	border: 1px solid #ccc;
	border-radius: 10px;
	text-align: center;
	text-decoration: none;
	line-height: 31px;
	color: #fff;
}
.sub-btn,
.cancel{
	width:193px;
	height:38px;
	margin: 30px 55px 0 75px;
	border:1px solid #a0a0a0;
	border-radius:5px;
	line-height:38px;
	font-size:18px;
	color:#fff;
	text-align:center;
}
.cancel{
	background-color: #fff;
	color: #000;
}
.sub-btn{
	background-color:#2baf2b;
}
.checkbox{
	display: inline-block;
	width: 200px;
}
.tip{
	text-align: center;
	font-size: 16px;
	color: rgb(246, 30, 30);
}