<!DOCTYPE html>
<html>
	<head>
		<title>求职通</title>
	    <meta charset="utf-8" />
	    <{include file="../../common/link.html"}>
	     <{include file="../../common/script.html"}>
	   <link rel="stylesheet" type="text/css" href="<{$staticWebsite}>resources/css/page/job_apply/jobapply-header.css">
	   <link rel="stylesheet" type="text/css" href="<{$staticWebsite}>resources/css/page/job_apply/mine.css">
	</head>
	<body>
		 <{include file="../../common/header.html"}>
	     <{include file="../job_apply/jobapply-header.html"}>
		<div class="mine">
			<!-- 基本信息模块 start-->
			<div class="module">

				<h2 class="module-title">基本信息</h2>
				<div class="sub-module clearfix">
					<div class="face">
						<span>
						<{if $BasicInfo.head_url}>
						    <img src="<{$BasicInfo.head_url}>" alt="头像" width="195px" height="195px">
						 <{else}>
							<img src="<{$staticWebsite}>resources/img/job_apply/del/face.jpg" alt="头像" width="195px" height="195px">
						 <{/if}>
							<a class="modify" href="<{$website}>job/modifyUserInfo/index"><i></i>修改头像</a>
						</span>
					</div>
					<div class="essential-info">
						<h2 class="name"><{$BasicInfo.realname}></h2>
						<{if $identify}>
						<p>						
						<{foreach from=$identify item=id}>
						<{$id.name}>&nbsp;&nbsp;<{$id.value}>
						<{/foreach}>
						</p>
						<{/if}>
						<{if $name|| $live}>
						<span class="status">现有工作（教育阶段）</span>
						<ul class="detail">
							<li><{$name}></li>
						    <{if $live}>
							<li>|</li>
							<li><{$live}></li>
							<{/if}>
						</ul>
					  <{/if}>
						<ul class="ever">
						<{if $WorkExperienceInfo}>
						<li>曾经工作:&nbsp;
						  <{foreach from=$WorkExperienceInfo item=work}>
							<{$work.company_name}>
						    &nbsp; 							
						 <{/foreach}>
						 </li>
						 <{/if}>
						 <{if $StudyExperienceInfo}>
						 <li>教育背景:&nbsp;
						  <{foreach from=$StudyExperienceInfo item=study}>
							<{$study.school_name}>
						    &nbsp; 							
						 <{/foreach}>
						 </li>
						 <{/if}>
						</ul>
					</div>
                    <{if  $isLeague eq 1}>
                    <{if $isActivated eq 0}>
                    <a href="javascript:;" class="improve" title="该生信息未通过学校认证"></a>
                    <{else}>
                    <a href="javascript:;" class="improve light-up" title="该生信息已通过学校认证"></a>
                    <{/if}>
                    <{elseif $isLeague eq 2}>
                    <a href="javascript:;" class="improve light-up" title="该生信息已通过学校认证"></a>
                    <{else}>
                    <a href="javascript:;" class="improve" title="该生信息未通过学校认证"></a>
                    <{/if}>
				</div>
				<div class="edit-info">
                    <{if  $isLeague eq 1}>
                    <{if $isActivated eq 1}>
                    <a href="javascript:;" class="unclick-pointer">该生信息已通过学校认证</a>
                    <{else}>
                    <a href="javascript:;" class="activate-validation">激活实名认证点亮图标</a>
                    <{/if}>
                    <{elseif $isLeague eq 2}>
                    <a href="javascript:;" class="unclick-pointer">该生信息已通过学校认证</a>
                    <{else}>
                    <{/if}>
					<a href="<{$website}>job/job/basicInfoIndex/user_id/<{$user_id}>" class="edit"><i></i>编辑基本信息</a>
				</div>
			</div>
			<!-- 基本信息块 end-->
			<!-- 档案资料模块 start-->
			<div class="module">
				<h2 class="module-title">档案资料</h2>
				<!-- 关于我模块 start-->
				<div class="sub-module clearfix">
					<h3><i class="about-me"></i>关于我</h3>

					<{if $BasicInfo.about_me}>
					<p><{$BasicInfo.about_me}></p>
					 <a href="<{$website}>job/job/aboutMeEdit/user_id/<{$user_id}>"class="edit"><i></i>编辑</a>
					 <{else}>
					<a href="<{$website}>job/job/aboutMeEdit/user_id/<{$user_id}>" class="add"><i></i>添加描述</a>
					<a href="<{$website}>job/job/aboutMeEdit/user_id/<{$user_id}>" class="description">简要描述一下个人经历，让访问者快速了解你</a>
				   <{/if}>
				</div>
				<!-- 关于我模块 end-->
				<!-- 我的专长模块 start-->
				<div class="sub-module clearfix">
					<h3><i class="specialty"></i>我的专长</h3>
					<div class="my-label added-item">						
						<{foreach from=$special item=model}>
                           <span><b title="<{$model.special_performance}>"><{$model.special_performance}></b></span>
						<{/foreach}>
					</div>
					<a href="<{$website}>job/job/specialEdit/user_id/<{$user_id}>" class="edit"><i></i>编辑</a>
				</div>
				<!-- 我的专长模块 end-->
				<!-- 工作经历模块 start-->
				<div class="sub-module clearfix">
					<h3><i class="work"></i>工作经历</h3>
					<a href="<{$website}>job/job/workExperienceAdd/resume_id/<{$resume_id}>" class="add"><i></i>新增经历</a>
				<{if $WorkExperienceInfo}>
				      <{foreach from=$WorkExperienceInfo item=infos}>
					     <p class="time">
					       <span><{$infos.start_time|date_format:"%Y"}></span>年<span><{$infos.start_time|date_format:"%m"}></span>月&nbsp;至&nbsp;<span><{$infos.end_time|date_format:"%Y"}></span>年<span><{$infos.end_time|date_format:"%m"}></span>月
					    </p>
				         <div class="experience">
				            <{if $infos.work_type==1}>
							 <{$infos.position_name}>(实习) 
							<{else}>
							<{$infos.position_name}>
							<{/if}>
							<ul>
								<li><{$infos.company_name}></li>
								<li><{$infos.experience_describe}></li>
							</ul>
						</div>                  
					<{if $infos.sign=='1'}>
						<a href="" class="del">删..除</a>
						<{else if  $infos.sign=='0'}>
						<a href="<{$website}>job/job/workExperienceDel/id/<{$infos.id}>" class="del">删除</a>
					<{/if}>
					    <a href="<{$website}>job/job/workExperienceEdit/id/<{$infos.id}>" class="edit"><i></i>编辑</a>
				 <{/foreach}>
				    <a href="<{$website}>job/job/workExperienceAdd/resume_id/<{$resume_id}>" class="add-description">点此添加描述，让经历信息更加丰富</a>
				  <{else}> 
                        <a href="<{$website}>job/job/workExperienceAdd/resume_id/<{$resume_id}>" class="description">点此添加描述，让经历信息更加丰富</a>
				  <{/if}>  
				</div>
				<!-- 工作经历模块 end-->
				<!-- 教育经历模块 start-->
				<div class="sub-module clearfix">
					<h3><i class="education"></i>教育经历</h3>
					<a href="<{$website}>job/job/studyExperienceAdd/user_id/<{$user_id}>" class="add"><i></i>新增经历</a>
                <{if $StudyExperienceInfo}>
                 <{foreach from=$StudyExperienceInfo item=infos}>
				 
				 <p class="time">
			       <span><{$infos.start_time|date_format:"%Y"}></span>年<span><{$infos.start_time|date_format:"%m"}></span>月&nbsp;至&nbsp;<span><{$infos.end_time|date_format:"%Y"}></span>年<span><{$infos.end_time|date_format:"%m"}></span>月
			    </p>
					<div class="experience">
						<h4><{$infos.major_name}></h4>
						<ul>
							<li><{$infos.school_name}>·<{$infos.deparment}></li>
							<li><{$infos.position_degree.name}></li>
						</ul>
					</div>
					<{if $infos.sign=='1'}>
					<a href="" class="del">删..除</a>
					<{else if $infos.sign=='0'}>
					<a href="<{$website}>job/job/studyExperienceDel/id/<{$infos.id}>" class="del">删除</a>
					<{/if}>					 					
					<a href="<{$website}>job/job/studyExperienceEdit/id/<{$infos.id}>" class="edit"><i></i>编辑</a>
			      <{/foreach}>
			      <a href="<{$website}>job/job/studyExperienceAdd/user_id/<{$user_id}>" class="add-description">点此添加描述，让经历信息更加丰富</a>
			    <{else}>
			        <a href="<{$website}>job/job/studyExperienceAdd/user_id/<{$user_id}>" class="description">添加教育经历，树立职业形象并获得同行关注</a>
			     <{/if}>
				</div>
				<!-- 工作经历模块 end-->
			</div>
			<!-- 档案资料模块 end-->
			<!-- 联系方式模块 start-->
			<div class="module contact">
				<h2 class="module-title">联系方式</h2>
				<div class="sub-module clearfix">					
					<{if $BasicInfo.head_url}>
					 <img src="<{$BasicInfo.head_url}>" alt="头像"  class="face" width="50px" height="50px" >
					<{else}>
					  <img src="<{$staticWebsite}>resources/img/job_apply/del/person.jpg" class="face" width="50px" height="50px">
					<{/if}>
					<ul>
					     <{if $ContactInfo.cellphone}>
							<li><i class="mobile"></i>手机：<{$ContactInfo.cellphone}> </li>
						<{else}>
							<li><i class="mobile"></i>手机：<a href="<{$website}>job/job/contactInfoEdit/id/<{$ContactInfo.id}>">添加</a></li>
						<{/if}>
						<{if $ContactInfo.phone}>
							<li><i class="phone"></i>电话：<{$ContactInfo.phone}></li>
						<{else}>
							<li><i class="phone"></i>电话：<a href="<{$website}>job/job/contactInfoEdit/id/<{$ContactInfo.id}>">添加</a></li>
						<{/if}>
						<{if $ContactInfo.qq}>
							<li><i class="qq"></i>&nbsp;QQ：<{$ContactInfo.qq}></li>
						<{else}>
							<li><i class="qq"></i>&nbsp;QQ：<a href="<{$website}>job/job/contactInfoEdit/id/<{$ContactInfo.id}>">添加</a></li>
						<{/if}>
					</ul>
					<ul class="another">
					     <{if $ContactInfo.wechat}>
							<li><i class="wechat"></i>&nbsp;微信：<{$ContactInfo.wechat}></li>
						<{else}>
							<li><i class="wechat"></i>&nbsp;微信：<a href="<{$website}>job/job/contactInfoEdit/id/<{$ContactInfo.id}>">添加</a></li>
						<{/if}>
						 <{if $ContactInfo.email}>
							<li><i class="email"></i>&nbsp;邮箱：<{$ContactInfo.email}></li>
						<{else}>
							<li><i class="email"></i>&nbsp;邮箱：<a href="<{$website}>job/job/contactInfoEdit/id/<{$ContactInfo.id}>">添加</a>
							</li>
						<{/if}>
						 
					</ul>
					<a href="<{$website}>job/job/contactInfoEdit/id/<{$user_id}>" class="edit"><i></i>编辑</a>
				</div>
			</div>
			<!-- 联系方式模块 end-->
		</div>
		 <{include file="../../common/footer.html"}>
		 <script type="text/javascript">
			KISSY.use('page/job_apply/mine',function(S){
				S.ready(function(){
					PW.page.job_apply.mine();
				})
			})
		</script>
		<!-- 激活码输入弹出框 -->
		<div class="pop-background none"></div>
		<div class="validation-code none">
			<label>请输入激活码：</label>
			<input type="text">
			<p class="valid-tip"></p>
			<a href="javascript:;" class="submit-code">提交</a>
			<a href="javascript:;" class="cancel-code">取消</a>
		</div>
	</body>

   <!-- 页面漂浮    <div id="ad" style="Z-INDEX: 999900; LEFT: 2px; WIDTH: 62px; POSITION: absolute; TOP: 43px; HEIGHT: 158px;">
    <a href="http://www.dync.net/enableq/q.php?qname=2017" target="_blank">
    <img src="<{$staticWebsite}>resources/img/common/jy.jpg"  border="0" width="280" height="158">
    </a>
    </div> 

    <script type="text/javascript" src="<{$staticWebsite}>js/float.js"></script> -->

</html>