<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>账号设置</title>
	 <{include file="../../common/link.html"}>
     <{include file="../../common/script.html"}>
	<link rel="stylesheet" type="text/css" href="<{$staticWebsite}>resources/css/page/user_info/modify-info.css">
</head>
<body>
	 <{include file="../../common/header.html"}>
	<div class="content clearfix">
		<ul class="modify-nav">
			<h1>账号设置</h1>
			<li index="1"><a href="javascript:;">我的头像</a></li>
            <{if $password!=null}>
            <li index="2"><a href="javascript:;">修改密码</a></li>
            <{else}>
            <{/if}>
		</ul>
		<ul class="right-detail">
			<li class="upload-img">
				<h1>上传真实头像</h1>
				<form class="img-up-zone" action="<{$website}>job/modifyUserInfo/dealimage" method="post" enctype="multipart/form-data">
					<span class="upload-tip"></span>
					<input type="file" class="upload-file" id="img-portrait" name="head_url">
					<span class="mock-input">选择本地照片</span>
					<p>支持jpg,png,gif各种格式的照片，大小不能大于2.5M</p>
					<input type="submit" value="提交" class="submit-info submit-img">
					<button type="button" class="cancel-submit cancel-img">重置</button>
				</form>
				<div class="current-img">
					<h1>当前头像</h1>
					<div>
					<{if $image}>
						<img src="<{$image}>" width="154px" height="154px">
					<{else}>
					   <img src="<{$staticWebsite}>resources/img/job_apply/del/face_01.png" width="154px" height="154px">
					<{/if}>
					</div>
				</div>
			</li>
			<li class="change-password none">
				<h1>修改登录密码</h1>
				<form  action="<{$website}>job/modifyUserInfo/password"  method="post">
					<span class="modi-password-tip"></span>
					<div>
						<label>当前密码：</label><input type="password" class="old-password-input" name="curentPassword">
					</div>
					<div>
						<label>新密码：</label><input type="password" class="new-password-input" name="newPassword">
					</div>
					<div>
						<label>确认密码：</label><input type="password" class="check-password-input" name="Password">
					</div>
					<div>
						<input type="submit" value="提交" class="submit-info submit-pass">
						<button type="reset" class="cancel-submit cancel-pass">重置</button>
					</div>
				</form>
			</li>
		</ul>
		
	</div>
	 <{include file="../../common/footer.html"}>
	<script type="text/javascript">
		KISSY.use('page/user_info/modifyInfo',function(S){
			S.ready(function(){
				PW.page.user_info.modifyInfo();
			})
		})
	</script>
</body>
</html>