/*-----------------------------------------------------------------------------
* @Description: 招待管理样式 (branch.css)
* @Version: 	V1.0.0
* @author: 		daiql(396985267@qq.com)
* @date			2014.08.12
* ==NOTES:=============================================
* v1.0.0(2014.08.12):
* 	初始生成 
* ---------------------------------------------------------------------------*/
.control-area-long input[type="text"].input-30{
	width: 30px;
}
.control-area div.padding-top-0{
    padding-top: 0px;
    margin: 0;
}