<!-- footer部分start -->
		<div class="footer">
			<ul class="contact">
				<li><a href="javascript:;">地址：吉林省长春市人民大街5268号</a></li>
				<li>|</li>
				<li><a href="javascript:;">招聘热线：0431-85098857</a></li>
				<li>|</li>
				<li><a href="javascript:;">邮箱：zhaopin@dsjyw.net</a></li>
				<li>|</li>
				<li><a href="http://www.myjoin.cn/" target="_blank">开发/维护：卓音工作室</a></li>
			</ul>
			<ul class="copyright">
				<li><a href="http://careers.nenu.edu.cn/" target="_blank">版权所有&copy;东北师范大学就业指导服务中心&nbsp;&nbsp;吉ICP备05004942</a></li>
			</ul>	
		</div>
<div style="display:none">
    <script type="text/javascript">var cnzz_protocol = (("https:" == document.location.protocol) ? " https://" : " http://");document.write(unescape("%3Cspan id='cnzz_stat_icon_1256560358'%3E%3C/span%3E%3Cscript src='" + cnzz_protocol + "s4.cnzz.com/z_stat.php%3Fid%3D1256560358%26show%3Dpic' type='text/javascript'%3E%3C/script%3E"));</script>
</div>
<!-- footer部分end -->
