<!-- header部分start -->
<div class="header total-header">
    <div class="container">
        <div class="enter">
            <form action="<{$website}>search" method="post" class="search-form">
                <a class="show-options"></a>
                <input type="text" placeholder="搜索宣讲会…" class="search-input" name="searchWord">
                <input type="submit" class="search" value=" ">
                <input type="hidden" name="preach" value="1">
                <input type="hidden" name="recruit" value="0">
                <input type="hidden" name="company" value="0">
                <input type="hidden" name="graduate" value="0">
                <dl class="search-options none">
                    <dt class="preach-search"><a href="javascript:;">宣讲会</a></dt>
                    <dt class="recruit-search"><a href="javascript:;">招聘信息</a></dt>
                    <dt class="company-search"><a href="javascript:;">用人单位</a></dt>
                    <dt class="graduate-search"><a href="javascript:;">毕业生</a></dt>
                </dl>
            </form>
            <{if $user==''}>
            <ul class="none">
                <ul class="none">
                    <li>
                        你好，<a href="javascript:;" class="nick-name" id="u1">君不器<span></span></a>
                        <dl class="user-info none">
                            <dt class="to-modify"><a href="<{$website}>job/modifyUserInfo">修改信息</a></dt>
                            <dt class="to-modify"><a href="<{$website}>user/user/layout">退出登录</a></dt>
                        </dl>
                    </li>
                </ul>
        </div>
        <div class="logo clearfix">
            <!-- <a href="<{$website}>recruitEntrance/recruitEntrance/toRegister">用人单位入口</a> -->
            <!--用人单位入口 待修改！！！！-->
            <a href="<{$website}>recruitEntrance/recruitEntrance/ToLogin" class="company-login">用人单位入口</a>
            <a href="javascript:;" class="stu-login">学生入口</a>
        </div>
        <{else}>
        <ul>
            <li>
                你好，<a href="javascript:;" class="nick-name" id="u1"><{$smarty.session.username}><span></span></a>
                <dl class="user-info none">
                    <dt class="to-modify"><a href="<{$website}>job/modifyUserInfo">修改信息</a></dt>
                    <dt class="to-modify"><a href="<{$website}>user/user/layout">退出登录</a></dt>
                </dl>
            </li>
        </ul>
    </div>
    <div class="logo clearfix">
        <a href="<{$website}>recruitEntrance/recruitEntrance/toRegister">用人单位入口</a>
        <a href="javascript:;" class="none stu-login">学生入口</a>
    </div>
    <{/if}>
    <div class="nav">
        <ul>
            <li><a href="<{$site}>">首&nbsp;&nbsp;页</a></li>
            <li><a href="<{$website}>careerTalk/careerTalk/list">宣讲会</a></li>
            <li class="recruit-nav">
                <a href="#">招聘信息</a>
                <dl class="recruit-type none">
                    <dt>
                        <a href="<{$website}>position/position/list/kind/1">教育类</a>
                    </dt>
                    <dt>
                        <a href="<{$website}>position/position/list/kind/0">非教育类</a>
                    </dt>
                </dl>
            </li>
            <li><a href="<{$website}>company/company/list">用人单位</a></li>
            <li><a href="<{$website}>graduate/graduate">毕业生</a></li>
            <{if $user==''}>
            <li><a href="javascript:;" class="enter-job">求职通</a></li>
            <{else}>
            <li><a href="<{$website}>job/job">求职通</a></li>
            <{/if}>
            <li><a href="<{$website}>aboutUs/aboutUs/aboutUs" class="noborder">关于我们</a></li>
        </ul>
    </div>
</div>
<div class="pop none">
    <div class="pop-bg"></div>
    <div class="login clearfix none">
        <form class="login-part" action="" method="post" id="L-form">
            <h1>东北高师就业联盟网-毕业生登录</h1>
            <ul class="user-type-ul clearfix">
                <li>
                    <input type="radio" name="userType" class="nenu-user" checked="checked" value="1">
                    <label class="nu-label">东北师范大学用户</label>
                </li>
                <li class="other-user-li">
                    <input type="radio" name="userType" class="other-user"  value="2">
                    <label class="ou-label">其他用户</label>
                </li>
            </ul>
            <div class="account">
                <em>学号</em>
                <input type="text" name="username">
                <span class="account-tip"></span>
            </div>
            <div class="password">
                密码
                <input type="password" name="password">
                <span class="password-tip"></span>
            </div>
            <input type="submit" value="立即登录" class="submit">
            <div class="clearfix">
                <input type="checkbox" class="remember-me" />
                <label class="rm-label">记住密码</label>
                <a href="javascript:;" class="forget-password">忘记密码?</a>
            </div>
        </form>
        <div class="register-part">
            <a href="javascript:;" class="close">X</a>
            <a href="javascript:;" class="to-register">免费注册</a>
            <p class="other-way"><span></span>你还可以选择以下方式登录<span></span></p>
            <a href="https://graph.qq.com/oauth2.0/authorize?client_id=101244638&redirect_uri=http://www.dsjyw.net/site/qqlogin&response_type=code&state=dsjyw" class="login-qq"></a>
            <a href="https://api.weibo.com/oauth2/authorize?client_id=1498790983&redirect_uri=http://www.dsjyw.net/site/wblogin&response_type=code&state=dsjyw" class="login-weibo"></a>
        </div>
    </div>
    <form class="register none" action="" method="get" id="R-form">
        <a href="javascript:;" class="close">X</a>
        <h1>注册账号</h1>
        <div class="user-name">
            姓名
            <input type="text" name="username">
            <span class="name-tip"></span>
        </div>
        <div class="email">
            邮箱
            <input type="text" name="email" placeholder="请务必填写真实邮箱地址,否则将无法收到激活邮件">
            <span class="email-tip"></span>
        </div>
        <div class="current-status">
            当前状态
            <input type="radio" name="currentStatus" value="1"><label>我已工作</label>
            <input type="radio" name="currentStatus" checked="checked" value="2"><label>我是学生</label>
        </div>
        <div class="first-password">
            密码
            <input type="password" name="password">
            <span class="fir-pass-tip"></span>
        </div>
        <div class="check-password">
            确认密码
            <input type="password" name="checkPassword">
            <span class="check-pass-tip"></span>
        </div>
        <input type="submit" name="register-submit" value="立即注册" class="register-submit">
        <p>我已阅读并同意联盟网服务条款</p>
    </form>
    <div class="get-password none">
        <em>请输入您的注册邮箱</em>
        <input type="text" name="email">
        <span></span>
        <a href="javascript:;" class="sure-email">O</a>
        <a href="javascript:;" class="cancel-email">X</a>
    </div>
</div>

<!-- 用人单位的pop -->
<div class="pop-company none">
    <div class="pop-bg"></div>
    <div class="login login-company clearfix">
        <!--<form class="c-login-part" id="C-form">-->
        <!--<h1>东北高师就业联盟网-用人单位登录-->
        <!--<a href="javascript:;" class="close">X</a>-->
        <!--</h1>-->
        <!--<div class="account form-control">-->
        <!--<label>-->
        <!--<i class="fa fa-user"></i> 用户名-->
        <!--</label>-->
        <!--<input type="text" name="username">-->
        <!--<span class="account-tip"></span>-->
        <!--</div>-->
        <!--<div class="password form-control">-->
        <!--<label for=""><i class="fa fa-lock"></i> 密码-->
        <!--</label>-->
        <!--<input type="password" name="password">-->
        <!--<span class="password-tip"></span>-->
        <!--</div>-->
        <!--<div class="form-control">-->
        <!--<input type="checkbox" class="remember-me" id="rm-label"/>-->
        <!--<label class="rm-label" for="rm-label">记住密码</label>-->
        <!--<input type="submit" value="立即登录" class="submit c-login-btn">-->
        <!--<input type="button" class="c-login-btn register-btn" value="立即注册">-->
        <!--</div>-->
        <!--<div class="form-control">-->
        <!--<a href="javascript:;" class="forget-password">忘记密码?</a>-->
        <!--</div>-->
        <!--</form>-->
        <form class="login-part" action="<{$website}>RecruitEntrance/RecruitEntrance/login" method="post" id="C-form">
            <h1>东北高师就业联盟网-用人单位登录</h1>
            <div class="ACCOUNT">
                <em> 账号</em>
                <input type="text" name="username">
                <span class="account-tip"></span>
            </div>
            <div class="PASSWORD">
                密码
                <input type="password" name="password">
                <span class="password-tip"></span>
            </div>
            <input type="submit" value="立即登录" class="SUBMIT">
            <div class="clearfix">
                <input type="checkbox" class="remember-me" />
                <label class="rm-label">记住密码</label>
                <a href="javascript:;" class="company-forget-password">忘记密码?</a>
            </div>
        </form>
        <div class="register-part">
            <a href="javascript:;" class="close">X</a>
            <a href="javascript:;" class="register-btn">立即注册</a>
        </div>
    </div>
    <div class="register-choose c-login-part none">
        <h1>东北高师就业联盟网-注册类型选择</h1>
        <a href="javascript:;" class="close">X</a>
        <a class="y-enter" href="<{$website}>recruitEntrance/RecruitEntrance/CreateCompany">单位尚未入驻本系统</a>
        <a class="n-enter" href="<{$website}>recruitEntrance/RecruitEntrance/FillCompany">单位尚已入驻本系统</a>  </div>
    <div class="register-company none">

        <form class="c-login-part" action="" method="post" id="R-form">
            <h1>东北高师就业联盟网-找回密码
                <a href="javascript:;" class="close">X</a>
            </h1>
            <div class="account-company form-control">
                <label>用户名</label>
                <input type="text" name="username">
                <span class="account-tip"></span>
            </div>
            <div class="password-company form-control">
                <label>
                    新密码
                </label>
                <input type="password" name="password">
                <span class="password-tip"></span>
            </div>
            <div class="password-company form-control">
                <label for=""><i class="fa fa-lock"></i> 确认密码
                </label>
                <input type="password" name="checkPassword">
                <span class="password-tip"></span>
            </div>
            <div class="code-control">
                <label>图形验证码</label>
                <span class="code-box">
	    	            <input type="text" name="" placeholder="必填">
	    	            <img src="../../resources/img/user/img-code.png" id="img-code" class="img-code">
	    	        </span>
            </div>
            <div class="code-control">
                <label>短信验证码</label>
                <span class="code-box">
	    	            <input type="text" name="" placeholder="必填">
	    	            <a href="javascript:;" class="msg-code">点击获取验证码</a>
	    	        </span>
            </div>
            <div class="form-control clearfix">
                <input type="submit" value="提交" class="submit c-login-btn">
                <span class="to-c-login">已有账号？<a href="">去登陆</a></span>
            </div>
        </form>
    </div>
</div>
<!-- 用人单位的pop end -->

<script type="text/javascript">
    KISSY.use('page/user/user',function(S){
        S.ready(function(){
            PW.page.user.user();
        })
    })
</script>

</div>
<!-- header部分end -->

<!-- 短信订制弹出层 -->
<div class="message-pop-layer none"></div>
<div class="message-pop none">
    <p class="vip-user-tip none">不是VIP用户，此功能暂不可用</p>
    <p class="activate-user-tip none">账户激活后才可使用此功能</p>
    <a href="javascript:;" class="sure-message">确定</a>
</div>
