<script src="<{$staticWebsite}>resources/js/site-config.js"></script>
<!--<script src="<{$staticWebsite}>resources/admin/js/site-config.js"></script>-->
<!--<script src="<{$staticWebsite}>resources/admin/js/site-config2.js"></script>-->
<!--<script src="http://pui.dev.net/1.1/lib/kissy/seed.js"></script>-->
<script src="<{$staticWebsite}>puiresources/lib/kissy/seed.js"></script>
<!--<script src="http://pui.dev.net/1.1/lib/kissy/seed.js"></script>-->
<meta http-equiv="X-UA-Compatible" content="IE=edge"/>

