<link rel="stylesheet" type="text/css" href="<{$staticWebsite}>recruitment_resources/css/base/reset.css">
<link rel="stylesheet" type="text/css" href="<{$staticWebsite}>recruitment_resources/css/common/header.css">
<link rel="stylesheet" type="text/css" href="<{$staticWebsite}>recruitment_resources/css/common/footer.css">
<link rel="stylesheet" type="text/css" href="<{$staticWebsite}>recruitment_resources/css/common/common.css">
<link rel="stylesheet" type="text/css" href="<{$staticWebsite}>recruitment_resources/css/common/sidebar.css">
<link rel="stylesheet" type="text/css" href="<{$staticWebsite}>recruitment_resources/font-awesome/css/font-awesome.min.css">
