<link rel="stylesheet" href="/assets/resources/recruitment_resources/js/plugin/simditor/styles/simditor.css">
<script type="text/javascript" src="/assets/resources/recruitment_resources/js/plugin/simditor/scripts/module.js"></script>
<script type="text/javascript" src="/assets/resources/recruitment_resources/js/plugin/simditor/scripts/uploader.js"></script>
<script type="text/javascript" src="/assets/resources/recruitment_resources/js/plugin/simditor/scripts/hotkeys.js"></script>
<script type="text/javascript" src="/assets/resources/recruitment_resources/js/plugin/simditor/scripts/simditor.js"></script>