<!-- 胡珺 关于我们 首页 -->
<!doctype html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>关于我们</title>
	
    <{include file = "common/link.html"}>
    <{include file = "common/script.html"}>
	<link rel="stylesheet" type="text/css" href="<{$staticWebsite}>resources/css/page/about_us/common.css">
	<link rel="stylesheet" type="text/css" href="<{$staticWebsite}>resources/css/page/about_us/about-us-index.css">
</head>
<body>
    <{include file= "common/header.html"}>
    <{include file= "aboutUs/common/header.html"}>
	<div class="page-background">
		<div class="page clearfix">
			<div class="left-nav">
				<h1>首页</h1>
				<ul class="left-nav-content">
					<p class="none-content"></p>
					<li class="selected"><a href="javascript:;">联盟网简介</a></li>
					<li><a href="javascript:;">协作体章程</a></li>
					<li><a href="javascript:;">协作体架构</a></li>
					<li><a href="javascript:;">协作体事记</a></li>
					<li><a href="javascript:;">协作体展示</a></li>
				</ul>
			</div>
			<div class="content-box">
				<div class="content-header clearfix">
					<h1 class="current-position">联盟网简介</h1>
					<p><span>当前位置</span>><span class="current-position">联盟网简介</span></p>
				</div>
				<div class="content">
					<div class="union-web">
						<p>东北高师就业联盟网是东北高师就业联盟高校就业协作的网络平台，由东北师范大学学生就业指导服务中心开发和运营。网站以构建国内一流的教育人才求职招聘与职业生涯发展网上生态系统为目标，每年提供就业岗位超过30万条。2009年被教育部授予“全国高校毕业生教育人才专业市场”，这是我国第一家高校毕业生就业全国性行业人才市场。2010年开始，连续6年承办全国教育系统网上招聘活动，现已发展成为全国高校就业网和网上教育人才市场的首席品牌。</p>
					    <table>
							<tr>
								<td>
									<img src="<{$staticWebsite}>resources/img/about-us/roll-2015.png" width="120px" height="160px;">
								</td>
								<td>
									<p>第十一版(2015)年</p>
									<p><a href="http://www.dsjyw.net">东北高师就业联盟网</a></p>
									<p>开发时间：201503-201510</p>	
								</td>
							</tr>
							<tr>
								<td>
									<img src="<{$staticWebsite}>resources/img/about-us/roll-1.png">
								</td>
								<td>
									<p>第十版(2011)年</p>
									<p>东北高师就业联盟网</p>
									<p>开发时间：2009年09月</p>	
								</td>
								<td>
									<img src="<{$staticWebsite}>resources/img/about-us/roll-2.png">
								</td>
								<td>
									<p>第九版（2007年)</p>
									<p>建成全国首个RSS定制就业信息系统</p>
									<p>全国首家实现网通、电信、教育、</p>
									<p>移动就业网四网镜像同步业务</p>
									<p>开发时间：2007年7月-2007年9月</p>	
								</td>
							</tr>
							<tr>
								<td>
									<img src="<{$staticWebsite}>resources/img/about-us/roll-3.png">
								</td>
								<td>
									<p>第八版（2006年)</p>
									<p>开通视频洽谈，真正实现全过程就业服务</p>
									<p>开发时间：2006年6月 </p>	
								</td>
								<td>
									<img src="<{$staticWebsite}>resources/img/about-us/roll-4.png">
								</td>
								<td>
									<p>第七版（2005年)</p>
									<p>全国首次推出“师范类</p>
									<p>就业信息搜索引擎”</p>
									<p>开发时间：2004年12月</p>
								</td>
							</tr>
							<tr>
								<td>
									<img src="<{$staticWebsite}>resources/img/about-us/roll-5.png">
								</td>
								<td>
									<p>第六版（2003年)</p>
									<p>全国首次推出诚信认证服务</p>
									<p>率先实现手机短信定制信息</p>
									<p>开发时间：2003年7月</p>
								</td>
								<td>
									<img src="<{$staticWebsite}>resources/img/about-us/roll-6.png">
								</td>
								<td>
									<p>第五版（2002年)</p>
									<p>创立东北高师就业联盟网</p>
									<p>建设全国首家网上教育人才市场</p>
									<p>开发时间：2002年6月</p>
								</td>
							</tr>
							<tr>
								<td>
									<img src="<{$staticWebsite}>resources/img/about-us/roll-7.png">
								</td>
								<td>
									<p>第四版（2001年)</p>
									<p>全国首次推出E-mail就业信息定制</p>
									<p>实现从“多对多”到“一对一”的变革</p>
									<p>开发时间：2001年11月</p>
								</td>
								<td>
									<img src="<{$staticWebsite}>resources/img/about-us/roll-8.png">
								</td>
								<td>
									<p>第三版（2001年)</p>
									<p>建成全国首个基础教育用人单位资料库 </p>
									<p>开发时间：2001年5月</p>
								</td>
							</tr>
							<tr>
								<td>
									<img src="<{$staticWebsite}>resources/img/about-us/roll-9.png">
								</td>
								<td>
									<p>第二版（2000年)</p>
									<p>全国首家推出学历认证服务</p>
									<p>开发时间：2000年5月</p>
								</td>
								<td>
									<img src="<{$staticWebsite}>resources/img/about-us/roll-10.png">
								</td>
								<td>
									<p>第一版（1999年)</p>
									<p>首批开通的高校就业网之一</p>
									<p>开发时间：1999年10月</p>
								</td>
							</tr>
						</table>
					</div>
					<div class="team-construction none">
						<{$list[1].content}>
					</div>
					<div class="collaboration-architecture none">
                        <{$list[2].content}>
					</div>
					<div class="collaboration-rules none">
                        <{$list[3].content}>
					</div>
					<div class="collaboration-show none">
						<ul class="clearfix">
							<li class="first-li">
								<a href="http://www.nenu.edu.cn/" target="_blank">
									<img src="<{$staticWebsite}>resources/img/about-us/logo1.png">
								</a>
								<a href="http://www.imun.edu.cn/" target="_blank">
									<img src="<{$staticWebsite}>resources/img/about-us/logo2.png">
								</a>
								<a href="http://www.syu.edu.cn/" target="_blank">
									<img src="<{$staticWebsite}>resources/img/about-us/logo3.png">
								</a>
								<a href="http://www.jlsu.edu.cn/" target="_blank">
									<img src="<{$staticWebsite}>resources/img/about-us/logo4.png">
								</a>
							</li>
							<li>
								<a href="http://www.lnnu.edu.cn/" target="_blank">
									<img src="<{$staticWebsite}>resources/img/about-us/logo5.png">
								</a>
								<a href="http://www.synu.edu.cn/" target="_blank">
									<img src="<{$staticWebsite}>resources/img/about-us/logo6.png">
								</a>
								<a href="http://www.jltiet.net/" target="_blank">
									<img src="<{$staticWebsite}>resources/img/about-us/logo7.png">
								</a>
								<a href="http://www.thnu.edu.cn/" target="_blank">
									<img src="<{$staticWebsite}>resources/img/about-us/logo8.png">
								</a>
							</li>
							<li class="third-li">
								<a href="http://hwww.ybu.edu.cn/" target="_blank">
									<img src="<{$staticWebsite}>resources/img/about-us/logo9.png">
								</a>
								<a href="http://www.hrbu.edu.cn/" target="_blank">
									<img src="<{$staticWebsite}>resources/img/about-us/logo10.png">
								</a>
								<a href="http://www.nefu.edu.cn/" target="_blank">
									<img src="<{$staticWebsite}>resources/img/about-us/logo11.png">
								</a>
							</li>
							<li class="fourth-li">
								<a href="http://www.mdjnu.cn/" target="_blank">
									<img src="<{$staticWebsite}>resources/img/about-us/logo12.png">
								</a>
								<a href="http://www.dqsy.net/" target="_blank">
									<img src="<{$staticWebsite}>resources/img/about-us/logo13.png">
								</a>
								<a href="http://www.hgtc.org.cn/" target="_blank">
									<img src="<{$staticWebsite}>resources/img/about-us/logo14.png">
								</a>
							</li>
							<li class="fifth-li">
								<a href="http://www.jlnu.edu.cn/" target="_blank">
									<img src="<{$staticWebsite}>resources/img/about-us/logo15.png">
								</a>
								<a href="http://www.bhu.edu.cn/" target="_blank">
									<img src="<{$staticWebsite}>resources/img/about-us/logo16.png">
								</a>
								<a href="http://www.cncnc.edu.cn/" target="_blank">
									<img src="<{$staticWebsite}>resources/img/about-us/logo17.png">
								</a>
							</li>
							<li class="sixth-li">
								<a href="http://www.hrbnu.edu.cn/" target="_blank">
									<img src="<{$staticWebsite}>resources/img/about-us/logo18.png">
								</a>
								<a href="http://www.asnc.edu.cn/" target="_blank">
									<img src="<{$staticWebsite}>resources/img/about-us/logo19.png">
								</a>
								<a href="http://www.beihua.edu.cn/" target="_blank">
									<img src="<{$staticWebsite}>resources/img/about-us/logo20.png">
								</a>
							</li>
							<li class="seventh-li">
								<a href="http://www.bcsfxy.com/" target="_blank">
									<img src="<{$staticWebsite}>resources/img/about-us/logo21.png">
								</a>
								<a href="http://www.qqhru.edu.cn/" target="_blank">
									<img src="<{$staticWebsite}>resources/img/about-us/logo22.png">
								</a>
								<a href="http://www.hrbipe.edu.cn/" target="_blank">
									<img src="<{$staticWebsite}>resources/img/about-us/logo23.png">
								</a>
								<a href="http://www.cfxy.cn/" target="_blank">
									<img src="<{$staticWebsite}>resources/img/about-us/logo24.png">
								</a>
							</li>
							<li>
								<a href="http://www.ccu.edu.cn/" target="_blank">
									<img src="<{$staticWebsite}>resources/img/about-us/logo25.png">
								</a>
								<a href="http://www.jmsu.org/" target="_blank">
									<img src="<{$staticWebsite}>resources/img/about-us/logo26.png">
								</a>
								<a href="http://www.shxy.net/" target="_blank">
									<img src="<{$staticWebsite}>resources/img/about-us/logo27.png">
								</a>
								<a href="http://www.hlbrc.cn/" target="_blank">
									<img src="<{$staticWebsite}>resources/img/about-us/logo28.png">
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	<script type="text/javascript">
			KISSY.use('page/about_us/about_index',function(S){
				S.ready(function(){
					PW.page.about_us.about_index();
				});
			})
	</script>
    <{include file= "common/footer.html"}>
</body>
</html>