<!DOCTYPE html>
<html>
<head>
    <title>增加教师招考</title>
    <meta charset="utf-8">
    <{include file = "admin/common/link.html"}>
    <{include file = "admin/common/script.html"}>
    <link rel="stylesheet" type="text/css" href="<{$staticWebsite}>resources/admin/css/page/company.css">

    <script type="text/javascript" src="<{$ueditorWebsite}>/ueditor1_3_6-utf8-php/ueditor.config.js"></script>
    <script type="text/javascript" src="<{$ueditorWebsite}>/ueditor1_3_6-utf8-php/ueditor.all.js"></script>
    <script type="text/javascript" src="<{$ueditorWebsite}>/ueditor1_3_6-utf8-php/lang/zh-cn/zh-cn.js"></script>
    <link rel="stylesheet" type="text/css" href="<{$ueditorWebsite}>/ueditor1_3_6-utf8-php/themes/default/css/ueditor.css" />
</head>

<body>
<{include file= "admin/common/header.html"}>
<div class="container">
    <{include file="admin/common/sidebar.html"}>
    <div class="content" >
        <{include file="admin/common/crumbs.html"}>
        <div class="block">
            <div class="block-header">
                <h3></h3>
            </div>
            <div class="block-content clearfix">
                <form class="login-from" action="<{$website}>admin/teacherRecruitment/teacherRecruitment/add" method="post">
                    <table>
                        <tr>
                            <td>题目</td>
                            <td><input type="text" name="title" class="notice-title"/></td>
                        </tr>
                        <tr>
                            <td>地点</td>
                            <td>
                                <select class="province-select">
                                    <option value="0">请选择</option>
                                    <{foreach from= $provinceList item=province}>
                                    <option value="<{$province.id}>"><{$province.name}></option>
                                    <{/foreach}>
                                </select>
                                <select name="city_id" class="city-select">
                                    <option value="0">请选择</option>
                                </select></td>
                            </td>
                        </tr>
                        <tr>
                            <td>内容</td>
                            <td>
                                <script id="container" name="content" type="text/plain">
(此处添加内容)
		                        </script>
                            </td>
                        </tr>
                        <tr><td></td><td><input type="submit" class="btn" value="提交"/></td></tr>
                    </table>
                </form>
                <script type="text/javascript">
                    var editor = UE.getEditor('container')
                </script>
            </div>
        </div>
    </div>
</div>
</body>
</html>
